.foter {
	background-color: var(--hero-section-bg-color);
	padding: 60px 0;
}
.foter__logo {
	display: block;
	margin-bottom: 20px;
	padding: 0;
	color: var(--primery-bg-color);
} 
.foter-adres .link {
	display: block;
	margin-top: 9px;
}

.link-address {
	color: var(--primery-bg-color);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
	display: block;
}
.foter .link {
	color: var(--footer-tel-mail-color);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
}
.foter .link:hover,
.foter .link:focus {
	color: var(--accent-color);
}

.foter-all {
	display: flex;
	align-items: baseline;
}
.foter-two {
	margin-left: 70px;
	margin-right: auto;
}
.social-foter {
	display: flex;
	align-items: center;
	justify-content: center;
}
.title-foter {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--primery-bg-color);
}
.foter-link {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: rgba(68, 69, 78, 1);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foter-icon {
	fill: var(--primery-bg-color);
	
}
.foter-link:hover,
.foter-link:focus {
	background-color: var(--accent-color);
}
.foter-item:not(:last-child) {
	margin-right: 10px;
}
.foter-form { 
	display: flex;
	
}

.foter-form input {
	display: flex; 
	align-items: center; 
	
	width: 358px;
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	color: var(--footer-tel-mail-color);
	background-color: var(--hero-section-bg-color);
	margin-right: 12px;
	padding: 0;
	padding-left: 16px;
	cursor: pointer;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
}
.foter-form input:focus {
	border: 1px solid var(--primery-bg-color);
}

.foter-form ::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	color: var(--footer-tel-mail-color); 
}
.button-icon {
	margin-left: 10px;
} 

.foter-btn {
	display: flex;
	align-items: center;
	padding: 10px 28px;
	cursor: pointer;
}
.foter-btn:hover,
.foter-btn:focus {
	color: var(--primery-bg-color);
	background-color: var(--accent-button-color);
}